[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
faker = "*"
v = {editable = true,version = "*"}

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-wtf = "*"
bootstrap-flask = "*"
flask-moment = "*"
unidecode = "*"
flask-ckeditor = "*"
flask-migrate = "*"
flask-login = "*"

[requires]
python_version = "3.7"
